.page-index {
  .home-header {
    margin: 1em 0 3.5em;
    h1 {
      color: @brand-color-font-dark;
      position: relative;
    }
    .project-name {
      font-size: 2.8em;
      //font-weight: 900;
      letter-spacing: 0.06em;
      //-webkit-text-stroke: 4px;
      text-transform: uppercase;
    }
    .tag-line {
      display: block;
      margin-top: 0.1em;
      font-size: 1.61em;
      margin-bottom: 0;
    }
    .version {
      position: absolute;
      top: 0;
      right: 0;
      opacity: .5;
      font-size: 1.1em;
      font-weight: 200;
    }
  }
  .brand {
    display: none;
    // margin-top: -12px;
    // margin-left: 400px;
    // border: 2px solid #ff00ff;
    // height: 340px;
    // width: 100%;
    // .logo {
    //   height: 100%;
    //   width: 100%;
    //   position: relative;
    //   z-index: 3;
    // }
  }
  .brand-firstpage {
    height: 340px;
    width: 100%;
    display: block;
    .logo {
      background: transparent url(../img/mantri-logo-whole-340.png) no-repeat;
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 3;

    }

  }
  .row-fluid {
    background-color: white;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    .span9 {
      width: 69%;
      float: right;
      border: none;
      padding-bottom: 3em;
      .hero-unit {
        padding-left: 20px;
      }
      h2 {
        font-size: 30px;
        margin: 2em 0 0.4em;
      }
      .why {
        margin: 3em 0;
        width: 48%;
        h2 {
          margin-top: 0;
        }
        p {
          margin: 0;
        }
      }
      .why.left {
        float: left;
      }
      .why.right {
        float: right;
      }
      .technology {
        clear: both;
        h1 {
          margin-bottom: .5em;
        }
      }
      .technology img {
        width: 25%;
      }
    }
    .span3 {
      width: 30%;
      font-weight: 200;
      font-size: 16px;
      line-height: 1.6em;
      margin-left: 0;
      .sidebar-nav {
        margin-top: 93px;
        padding-left: 3em;
        h3 {
          margin-bottom: 0;
        }
        > * {
          margin-bottom: 1.5em;
        }
        .latest-news {
          ul {
            list-style-type: none;
            margin-left: 0;
            li {
              margin-bottom: 15px
            }
          }
          a {
            display: block;
            &:hover {
              text-decoration: none;
            }
            &:hover .title {
              text-decoration: underline;
            }
            .date {
              display: block;
              color: @textColor;
              font-size: 75%;
            }
          }
        }
        .social {
          a {
            font-size: 1.6em;
            color: white;
            background: red;
            border-radius: 50px;
            height: 1em;
            width: 1em;
            padding: 0.4em;
            margin-right: .8em;
            display: inline-block;
            &:hover {
              text-decoration: none;
            }
          }
          .twitter {
            background-color: #2baae0;
            &:hover {
              background-color: #289aca;
            }
          }
          .github {
            background-color: #5b95cc;
            &:hover {
              background-color: #5185b7;
            }
          }
          .feed {
            background-color: #feaa1c;
            &:hover {
              background-color: #e1971a;
            }
          }
        }
      }
    }
  }
  .grunt-footer .inner .container .pull-right li a:hover {
    padding: 1.3em 1em;
  }
}
