@import "bootstrap/variables";

//
// Brand Colors
//
@brand-color-strong: #339900;
@brand-color-light: #33CC00;
@brand-color-font: rgb(20, 46, 1);
@brand-color-font-dark: #335500;
@brand-color-hover: #133d13;

@linkColor:             rgb(7, 7, 230);
@linkColorHover:        darken(@linkColor, 15%);

@btn-gradient-from: rgb(41, 203, 0);
@btn-gradient-to:   rgb(51, 255, 0);

@textColor:                         @brand-color-font;
@btnBorder:                         #ccc;
@navbarHeight:                      56px;

@navbarInverseBackground:           @brand-color-strong;
@navbarLinkBackgroundHover:         @brand-color-light;
@navbarInverseLinkColor:            @white;
@navbarInverseLinkColorHover:       @white;
@navbarInverseLinkBackgroundHover:  @brand-color-light;

@heroUnitBackground:                @white;


