extends layout

block gettingStarted
  p Read the <a href="/getting-started">Getting Started</a> guide for instructions on using Grunt in your projects. Once you've done that, check out a <a href="/sample-gruntfile">Sample Gruntfile</a> and learn more about <a href="/configuring-tasks">Configuring Tasks</a>.

block content
  .container
    .row-fluid
      .span6
        .hero-unit
          .home-header
            h1
              span.project-name Mantri
              span.tag-line Dependency System
      .span6
        a.brand-firstpage(href='/')
          span.logo
    .row-fluid
      .span9.page.hero-unit
        .why.left
          h2 Why a new system?
          p A dependency system helps you develop, manage and maintain web applications. A module loader takes care of asynchronously loading components that your app requires. Using a module loader as a dependency system is an overkill. It is time to decouple module loading from dependency management.

        .why.right
          h2 Why use Mantri?
          p Harder, Better, Faster, Stronger. Mantri leaves no footprint on your deployed file, which means faster delivery of your app. Provides dead easy testing by exposing all your methods and properties on development, hides them on production. Simple and lean <code>provide</code> and <code>require</code> statements will make your day! And finally a complete workflow to build your codebase.

        .technology
          h2 How Mantri works
          P Mantri is synchronous, leaves no footprint in your production code and can work with any other module loader. All your files are loaded synchronously before <a href="https://developer.mozilla.org/en-US/docs/Mozilla_event_reference/DOMContentLoaded_(event)" title="MDN DOMContentLoaded event">DOMContentLoaded event</a> fires, just like your code would evaluate when packaged and minified. Mantri does not exist in your

        .how-get-started
          h2 How do I get started?
          block gettingStarted

      .span3
        .well.sidebar-nav
          .latest-version
            h3 Latest Version
            ul
              li Stable: v0.0.6
              li Development: v0.1.0rc2


          .getting-started
            h3 Getting Started
            block gettingStarted

          .social
            a.github(href='https://github.com/gruntjs/', alt='Grunt on GitHub')
              span.icon-github
            a.twitter(href='https://twitter.com/gruntjs/', alt='Grunt on Twitter')
              span.icon-twitter
            a.feed(href='/rss', alt='Grunt blog RSS feed')
              span.icon-feed
