footer.master-footer
  .inner
    .container
      ul.pull-right
        li.social
          a(href='https://github.com/closureplease/mantri', alt='Mantri on GitHub')
            span Mantri on GitHub &nbsp;
            span.icon-github
      ul.pull-left
        li
          | This site was built using <a href="https://github.com/gruntjs/gruntjs.com/tree/site-0.4.0" alt="gruntjs.com repository">the sources</a> of <a href="http://gruntjs.com" alt="grunt">gruntjs.com</a>
script
  var _gaq=[['_setAccount','UA-xxxxx-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))
